<template>
  <div class="WbsSectionSettings">
    <tabs>
      <tab name="Choose image">
        <div class="WbsImageSettings--image">
          <WbsEditorUploadImage @image-changed="updateImage"></WbsEditorUploadImage>
        </div>
      </tab>
      <tab name="Choose background color">
        <div class="WbsImageSettings--gallery">
          <WbsEditorColorpicker @color-picked="updateBackgroundColor"></WbsEditorColorpicker>
        </div>
      </tab>
    </tabs>
  </div>
</template>

<script>
  import {Tabs, Tab} from 'vue-tabs-component';
  import WbsEditorUploadImage from "../editor/WbsEditorUploadImage";
  import WbsEditorColorpicker from "../editor/WbsEditorColorpicker";

  export default {
    name: 'WbsSectionSettings',
    components: {WbsEditorColorpicker, Tabs, Tab, WbsEditorUploadImage},
    props: ['component'],
    methods: {
      updateImage(attrs) {
        window.app.wbsTree.updateSettings(this.component.settings.wbsId, { image: { base64: attrs.reader.result }, color: null })
      },
      updateBackgroundColor(color) {
        window.app.wbsTree.updateSettings(this.component.settings.wbsId, { color: color, image: null });
      }
    },
  }
</script>

<style lang="scss">
  .WbsSectionSettings {

  }
</style>