<template>
  <div class="WbsEditorWindow">
    <div class="WbsEditorWindow--header">
      {{ name }}
      <div class="WbsEditorWindow--header--close" v-if="wbsId" @click="close"></div>
    </div>

    <div class="WbsEditorWindow--body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import WbsIsEditorComponent from './mixins/WbsIsEditorComponent';

  export default {
    name: 'WbsEditorWindow',
    props: ['name', 'wbsId'],
    mixins: [WbsIsEditorComponent],
    methods: {
      close() {
        window.app.wbsTree.updateSettings(this.wbsId, { wbsEditing: false })
      }
    }
  }
</script>

<style lang="scss">
  .WbsEditorWindow {
    background: white;
    box-shadow: 0 0 50px rgba(black, .35);
    height: 100%;
    border-radius: 3px;
    z-index: 6;

    &--header {
      position: relative;
      padding-top: .5rem;
      height: 30px;
      text-align: center;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background: cadetblue;
      color: white;
      font-size: 15px;
      font-weight: 500;

      &--close {
        position: absolute;
        top: 50%;
        right: .625rem;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: darken(cadetblue, 20%);
        border-radius: 50%;

        &::before {
          content: "×";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background: darken(cadetblue, 12%);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    &--body {
      height: calc(100% - 30px);
      padding: .625rem;
      overflow: scroll;
    }
  }
</style>