<template>
  <div class="WbsEditorPopmenu">
    <div class="wbs-s-button-group">
      <a class="wbs-s-button" @click="editComponent">Edit</a>
      <a class="wbs-s-button" @click="removeComponent">Remove</a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'WbsEditorPopmenu',
    props: {
      wbsId: {
        required: true
      }
    },
    methods: {
      removeComponent() {
        if (confirm("Delete the block?")) {
          window.app.wbsTree.remove(this.wbsId)
        }
      },
      editComponent() {
        window.app.wbsTree.updateSettings(this.wbsId, { wbsEditing: true });
      }
    }
  }
</script>

<style lang="scss">
  .WbsEditorPopmenu {
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translate(-50%, -30%);
    visibility: hidden;
    transition: 0.2s all ease;
    opacity: 0;
    z-index: 5;

    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
</style>