<template>
  <div class="WbsEditorPopover">
    <slot></slot>
  </div>
</template>

<script>
  import WbsIsEditorComponent from './mixins/WbsIsEditorComponent';

  export default {
    name: 'WbsEditorPopover',
    mixins: [WbsIsEditorComponent]
  }
</script>

<style lang="scss">
  .WbsEditorPopover {
    display: table;
    transform: translateY(15px);
    background: white;
    box-shadow: 0 0 50px rgba(black, .35);
    border-radius: 3px;
    z-index: 6;
  }
</style>