<template>
  <div class="WbsEditorUploadImage">
    <p class="WbsEditorUploadImage--text">Upload your image</p>
    <input type="file" accept="image/*" @change="inputChanged" class="WbsEditorUploadImage--input-file">
  </div>
</template>

<script>
  export default {
    name: 'WbsEditorUploadImage',
    methods: {
      inputChanged(e) {
        const reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);

        const that = this;
        let res = '';

        reader.onload = function() {
          that.$emit('image-changed', { reader: reader });
        }

        reader.onerror = () => {
          that.$emit('image-changed', { reader: undefined });
          alert('Image load error');
        }
      },
    }
  }
</script>

<style lang="scss">
  .WbsEditorUploadImage {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: lightgray;

    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--input-file {
      opacity: 0;
      width: 100%;
      height: 150px;
      position: absolute;
      cursor: pointer;
    }
  }
</style>