<template>
  <div class="WbsEditorNewComponent">
    <h2>Add a new block</h2>

    <div class="WbsEditorNewComponent--blocks">
      <div class="WbsEditorNewComponent--block" v-for="(component, name) in insertableComponents" @click="$emit('insert-component', component)" v-close-popover>
        <h4>{{ name }}</h4>
      </div>
    </div>

    <!--<button v-for="(component, name) in insertableComponents" @click="$emit('insert-component', component)">-->
      <!--{{ name }}-->
    <!--</button>-->
    <!--<button>Text</button>-->
    <!--<button>Image</button>-->
    <!--<button>Grid</button>-->
  </div>
</template>

<script>
  import { VTooltip, VClosePopover } from 'v-tooltip';

  const components = {
    'Text': 'WbsText',
    'Picture': 'WbsImage',
    'Button': 'WbsButton',
    'Two Columns': 'WbsGridTwoCols',
    'Three Columns': 'WbsGridThreeCols'
  }

  export default {
    name: 'WbsEditorNewComponent',
    directives: {VTooltip, closePopover: VClosePopover},
    data() {
      return {
        insertableComponents: components
      }
    }
  }
</script>

<style lang="scss">
  .WbsEditorNewComponent {
    padding: 1rem;

    &--blocks {
      display: flex;
    }

    &--block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      width: 70px;
      height: 65px;
      border-radius: 3px;
      border: 1px solid rgba(black, .15);
      margin-right: 7.5px;
      justify-content: center;
      padding: 5px;
      transition: .3s border ease;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border: 1px solid rgba(black, .4);
        cursor: pointer;
      }

      h4 {
        font-size: .85em;
        font-weight: 400;
        color: dimgray;
        margin-bottom: 0;
      }
    }
  }
</style>