<template>
  <div class="WbsEditorColorpicker">
    <chrome-picker :value="color || {}" @input="updateColor"></chrome-picker>
  </div>
</template>

<script>
  import { Chrome } from 'vue-color';

  export default {
    name: 'WbsEditorColorpicker',
    components: { 'chrome-picker': Chrome },
    props: ['color'],
    methods: {
      updateColor(c) {
        this.$emit('color-picked', c.hex);
      }
    }
  }
</script>