<template>
  <div class="WbsButtonSettings">
    <tabs>
      <tab name="Button settings">
        <div class="WbsButtonSettings--image">
          <div>
            <label for="button_content">Button text</label>
            <div>
              <input type="text" v-model="newSettings.content" id="button_content" placeholder="Type button text here">
            </div>
          </div>
          <div>
            <label for="button_content">Button link(enter valid URL)</label>
            <div>
              <input type="text" v-model="newSettings.link" id="button_content" placeholder="Type button link here">
            </div>
          </div>
          <!--{{ newSettings.content }}-->
        </div>
      </tab>
    </tabs>
  </div>
</template>

<script>
  import {Tabs, Tab} from 'vue-tabs-component';

  export default {
    name: 'WbsButtonSettings',
    props: ['component'],
    components: { Tabs, Tab },
    data() {
      return {
        newSettings: {
        }
      }
    },
    methods: {
      updateButton(attrs) {
        window.app.wbsTree.updateSettings(this.component.settings.wbsId, attrs)
      }
    },
    created() {
      this.newSettings = JSON.parse(JSON.stringify(this.component.settings));
    },
    watch: {
      newSettings: {
        handler(newVal) {
          this.updateButton(newVal)
        },
        deep: true
      }
    }
  }
</script>

<style lang="scss">
  .WbsButtonSettings {

  }
</style>