<script>
  import WbsDiv from "../components/WbsDiv";
  import WbsSection from "../components/WbsSection";
  import WbsText from "../components/WbsText";
  import WbsButton from "../components/WbsButton";
  import WbsSpan from "../components/WbsSpan";
  import WbsStrong from "../components/WbsStrong";
  import WbsTNode from "../components/WbsTNode";
  import WbsImage from "../components/WbsImage";
  import WbsContainer from "../components/WbsContainer";
  import WbsHeading from "../components/WbsHeading";
  import WbsParagraph from "../components/WbsParagraph";
  import WbsGrid from "../components/WbsGrid";
  import WbsGridCol from "../components/WbsGridCol";
  import WbsSettingsCanvas from "../components/WbsSettingsCanvas";
  import WbsComponentsSettingsCanvas from "../components/WbsComponentsSettingsCanvas";
  import WbsHiddenPlaceholder from "../components/WbsHiddenPlaceholder";
  import WbsInsertline from "../components/WbsInsertline";
  import WbsEditorPopmenu from "../components/editor/WbsEditorPopmenu";
  import WbsFooter from "../components/WbsFooter";

  export default {
    name: 'WbsEditablePage',
    props: ['wbsTree', 'wbsRoot'],
    components: {
      WbsFooter,
      WbsEditorPopmenu,
      WbsContainer,
      WbsImage,
      WbsText,
      WbsButton,
      WbsSpan,
      WbsStrong,
      WbsTNode,
      WbsSection,
      WbsDiv,
      WbsHeading,
      WbsParagraph,
      WbsGrid,
      WbsGridCol,
      WbsHiddenPlaceholder
    },
    render(h) {
      const buildVueComponent = (treeComponent, h) => {
        let children = [];

        if (treeComponent.children && treeComponent.children.length > 0) {
          treeComponent.children.forEach((c) => {
            if (!c.children || c.children.length == 0) {
              const props = JSON.parse(JSON.stringify(c.settings));
              let attrs = JSON.parse(JSON.stringify(c.attrs));
              attrs.key = c.settings.wbsId;
              const data = Object.assign(attrs, { props: props });

              if (c.componentName == 'WbsContainer') {
                children.push(h(c.componentName, data, [h(WbsHiddenPlaceholder, { props: { wbsId: c.settings.wbsId } })]));
              } else {
                children.push(h(c.componentName, data, []));
              }

            } else {
              children.push(buildVueComponent(c, h))
            }
          });
        }

        const props = JSON.parse(JSON.stringify(treeComponent.settings));
        let attrs = JSON.parse(JSON.stringify(treeComponent.attrs));
        attrs.key = treeComponent.settings.wbsId;
        const data = Object.assign(attrs, { props: props });

        if (treeComponent.componentName == 'WbsContainer') {
          children = children.reduce((acc, next) => {
            const wbsId = next.data.props.wbsId;
            acc.push(next);
            acc.push(h(WbsInsertline, { props: { wbsId: wbsId }, key: wbsId + '-insertline' }));
            return acc;
          }, []);
        }

        return h(treeComponent.componentName, data, children);
      }

      const page = this.wbsRoot.children[0].children.map(c => buildVueComponent(c, h));
      const settingsCanvas = h(WbsSettingsCanvas, { props: { wbsRoot: this.wbsRoot } });
      const componentsSettingsCanvas = h(WbsComponentsSettingsCanvas, { props: { wbsTree: this.wbsTree } });

      return h('div', { class: 'WbsEditablePage EventTheme' }, [page, settingsCanvas, componentsSettingsCanvas]);
    }
  }
</script>

<style lang="scss">
  .WbsEditablePage {
    width: 100%;
    min-height: 100vh;
  }
</style>