<template>
  <header class="WbsKAJHeader">
    <WbsDiv class="wbs-s-container is-fullheight">
      <WbsDiv class="wbs-s-flex align-center justify-between is-fullheight">
        <div style="font-weight: bold">BUILDER</div>
        <div><button class="wbs-s-button" @click="exportPage">Export</button></div>
      </WbsDiv>
    </WbsDiv>

    <div class="exported" v-if="showModal">
      <div class="wbs-s-flex justify-between">
        <h2 style="margin-bottom: 1rem">Your exported website</h2>
        <a href="#" @click="showModal = false">Close</a>
      </div>

      <p style="margin-bottom: 1rem; font-size: 12px;">Since we're exporting images in raw bytes, exporting and viewing can take a while.</p>

      <WbsGrid>
        <WbsGridCol>
          <h3 style="margin-bottom: .5rem">Markup</h3>
          <textarea>{{ html }}</textarea>
        </WbsGridCol>
        <WbsGridCol>
          <h3 style="margin-bottom: .5rem">Styles</h3>
          <textarea>{{ css }}</textarea>
        </WbsGridCol>
      </WbsGrid>
    </div>
  </header>
</template>

<script>
  import Vue from 'vue';
  import WbsDiv from "../components/WbsDiv";
  import WbsGridCol from "../components/WbsGridCol";
  import WbsGrid from "../components/WbsGrid";

  import CoreStyles from "../assets/styles/style.scss";
  import WbsPage from "./WbsPage";

  console.log('coresss', CoreStyles);

  export default {
    name: 'WbsKAJHeader',
    components: {WbsPage, WbsGrid, WbsGridCol, WbsDiv},
    props: ['wbsTree', 'wbsRoot'],
    methods: {
      exportPage() {
        this.showModal = true;
        this.html = this.getHtml();
        this.css = this.getCss();
      },
      getCss() {
        let css = [];
        for (let i=0; i<document.styleSheets.length; i++)
        {
          let sheet = document.styleSheets[i];
          let rules = ('cssRules' in sheet)? sheet.cssRules : sheet.rules;
          if (rules)
          {
            css.push('\n/* Stylesheet : '+(sheet.href||'[inline styles]')+' */');
            for (let j=0; j<rules.length; j++)
            {
              let rule = rules[j];
              if ('cssText' in rule)
                css.push(rule.cssText);
              else
                css.push(rule.selectorText+' {\n'+rule.style.cssText+'\n}\n');
            }
          }
        }
        let cssInline = css.join('\n')+'\n';
        return cssInline;
      },
      getHtml() {
        const app = new Vue({
          render: h => h(WbsPage, { props: { wbsTree: this.wbsTree, wbsRoot: this.wbsRoot} })
        }).$mount()
        const html = app.$el.outerHTML;
        app.$destroy();
        return html;
      }
    },
    data() {
      return {
        showModal: false,
        html: 'dalybko',
        css: 'nejlepssi'
      }
    }
  }
</script>

<style lang="scss">
  .WbsKAJHeader {
    position: relative;
    height: 60px;
    /*background: hotpink;*/
    background: white;
    z-index: 2;
    box-shadow: -1px 1px 15px rgba(black, .25);

    .exported {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 500px;
      background: white;
      box-shadow: 0 0 600px rgba(black, 1);
      z-index: 10000;
      padding: 1rem;

      textarea {
        width: 100%;
        min-height: 350px;
      }
    }
  }
</style>