<template>
  <div class="EventTheme" style="width: 100%;height: 100%">
    <WbsSection class="hero" :image="heroBackground">
      <WbsDiv class="hero--wrapper">
        <WbsDiv class="wbs-s-container">
          <WbsDiv class="wbs-s-row">
            <WbsDiv class="wbs-s-col-6 wbs-s-offset-3">
              <WbsText>
                <WbsHeading level="1">
                  <WbsTNode content="Jazz festival Prague 2018"></WbsTNode>
                </WbsHeading>
              </WbsText>

              <WbsText>
                <WbsHeading level="2">
                  <WbsTNode content="Forum Karlin"></WbsTNode>
                </WbsHeading>
              </WbsText>
            </WbsDiv>
          </WbsDiv>
        </WbsDiv>
      </WbsDiv>
    </WbsSection>
    <WbsSection>
      <WbsDiv class="wbs-s-container">
        <WbsGrid>
          <WbsGridCol>
            <WbsContainer>
              <WbsText>
                <WbsHeading><WbsTNode content="First time in Prague"></WbsTNode></WbsHeading>
              </WbsText>
              <WbsText>
                <WbsParagraph><WbsTNode content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in interdum sem, ut maximus massa. Nulla felis massa, fermentum eget ante eu, fermentum aliquam ante. Vivamus tincidunt, lorem eget dictum malesuada, libero orci porttitor ipsum, euismod tempus justo eros et est."></WbsTNode></WbsParagraph>
              </WbsText>
              <WbsText>
                <WbsParagraph><WbsTNode content="Donec efficitur dui dictum risus posuere dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut felis fringilla, molestie tortor sit amet, egestas nisl."></WbsTNode></WbsParagraph>
              </WbsText>
            </WbsContainer>
          </WbsGridCol>
          <WbsGridCol><WbsImage></WbsImage></WbsGridCol>
        </WbsGrid>
      </WbsDiv>
    </WbsSection>

    <WbsSection>
      <WbsDiv class="wbs-s-container">
        <WbsContainer>
          <WbsText>
            <WbsHeading style="text-align: center"><WbsTNode content="Notable guests"></WbsTNode></WbsHeading>
          </WbsText>
          <WbsGrid>
            <WbsGridCol>
              <WbsContainer>
                <WbsImage :current-image="guestImage1"></WbsImage>
                <WbsText>
                  <WbsParagraph><WbsTNode content="Bacon ipsum dolor amet ball tip capicola frankfurter tongue prosciutto jowl short loin porchetta bacon pork swine buffalo."></WbsTNode></WbsParagraph>
                </WbsText>
              </WbsContainer>
            </WbsGridCol>
            <WbsGridCol>
              <WbsContainer>
                <WbsImage :current-image="guestImage2"></WbsImage>
                <WbsText>
                  <WbsParagraph><WbsTNode content="Rump bacon prosciutto porchetta picanha venison turkey pancetta landjaeger boudin pork loin kielbasa leberkas tongue."></WbsTNode></WbsParagraph>
                </WbsText>
              </WbsContainer>
            </WbsGridCol>
            <WbsGridCol>
              <WbsContainer>
                <WbsImage :current-image="guestImage3"></WbsImage>
                <WbsText>
                  <WbsParagraph><WbsTNode content="Pork loin fatback short loin ham hock boudin. Landjaeger salami pork chop, tenderloin ribeye."></WbsTNode></WbsParagraph>
                </WbsText>
              </WbsContainer>
            </WbsGridCol>
          </WbsGrid>
        </WbsContainer>
      </WbsDiv>
    </WbsSection>

    <WbsSection color="#3C3B3B">
      <WbsDiv class="wbs-s-container">
        <WbsContainer>
          <WbsText>
            <WbsHeading level="3" style="text-align: center;color: whitesmoke"><WbsTNode content="Let's do it"></WbsTNode></WbsHeading>
          </WbsText>
          <WbsText>
            <WbsParagraph style="text-align: center;color: whitesmoke"><WbsTNode content="The tickets are already on sale! Make sure to grab yours."></WbsTNode></WbsParagraph>
          </WbsText>
          <WbsButton content="Buy tickets" link="https://www.ticketportal.cz/"></WbsButton>
        </WbsContainer>
      </WbsDiv>
    </WbsSection>

    <WbsFooter>
      <WbsDiv class="wbs-s-container">
        <WbsContainer>
          <WbsText>
            <WbsParagraph style="text-align: center"><WbsTNode content="Ⓒ Jazz Festival Prague 2018"></WbsTNode></WbsParagraph>
          </WbsText>
        </WbsContainer>
      </WbsDiv>
    </WbsFooter>
  </div>
</template>

<script>
  import WbsSection from "../components/WbsSection";
  import WbsDiv from "../components/WbsDiv";
  import WbsText from "../components/WbsText";
  import WbsImage from "../components/WbsImage";
  import WbsHeading from "../components/WbsHeading.vue";
  import WbsGrid from "../components/WbsGrid";
  import WbsGridCol from "../components/WbsGridCol";
  import WbsContainer from "../components/WbsContainer";
  import WbsTNode from "../components/WbsTNode";
  import WbsParagraph from "../components/WbsParagraph";

  import heroBackground from './EventTheme/hero-background-base64.txt';
  import guestImage1 from './EventTheme/musician1-base64.txt';
  import guestImage2 from './EventTheme/musician2-base64.txt';
  import guestImage3 from './EventTheme/musician3-base64.txt';
  import WbsFooter from "../components/WbsFooter";
  import WbsButton from "../components/WbsButton";

  export default {
    components: {
      WbsButton,
      WbsFooter,
      WbsParagraph,
      WbsTNode, WbsContainer, WbsGridCol, WbsGrid, WbsImage, WbsText, WbsSection, WbsHeading, WbsDiv},
    data() {
      return {
        heroBackground: { base64: heroBackground },
        guestImage1: { base64: guestImage1 },
        guestImage2: { base64: guestImage2 },
        guestImage3: { base64: guestImage3 },
      }
    }
  }
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  .EventTheme {
    font-family: 'Source Sans Pro', sans-serif;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
    }

    .hero {
      min-height: 80vh;
      background: pink;

      &--wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
      }
    }
  }
</style>