<template>
  <div class="WbsImageSettings">
    <tabs>
      <tab name="Upload image">
        <div class="WbsImageSettings--image">
          <WbsEditorUploadImage @image-changed="updateImage"></WbsEditorUploadImage>
        </div>
      </tab>
      <!--<tab name="Picture library">-->
        <!--<div class="WbsImageSettings&#45;&#45;gallery">-->

        <!--</div>-->
      <!--</tab>-->
    </tabs>
  </div>
</template>

<script>
  import {Tabs, Tab} from 'vue-tabs-component';
  import WbsEditorUploadImage from "../editor/WbsEditorUploadImage";

  export default {
    name: 'WbsImageSettings',
    props: ['component'],
    components: {WbsEditorUploadImage, Tabs, Tab },
    methods: {
      updateImage(attrs) {
        window.app.wbsTree.updateSettings(this.component.settings.wbsId, { currentImage: { base64: attrs.reader.result } })
      }
    }
  }
</script>

<style lang="scss">
  .WbsImageSettings {

  }
</style>