<template>
  <div class="WbsButton">
    <WbsEditorPopmenu :wbs-id="wbsId" v-if="!wbsNotEditing"></WbsEditorPopmenu>

    <a class="WbsButton--button" target="_blank" :href="link">
      {{ content || 'Button text' }}
    </a>
  </div>
</template>

<script>
  import WbsSettingable from "../mixins/WbsSettingable";
  import WbsSelectable from "../mixins/WbsSelectable";
  import WbsEditorPopmenu from "./editor/WbsEditorPopmenu";

  export default {
    name: 'WbsButton',
    components: {WbsEditorPopmenu},
    mixins: [WbsSettingable, WbsSelectable],
    props: ['content', 'link'],
  }
</script>

<style lang="scss">
  .WbsButton {
    padding: .75rem;
    text-align: center;

    &--button {
      appearance: button;
      display: inline-block;
      padding: .5rem 1rem;
      font-size: 14px;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
</style>