<template>
  <div class="WbsComponentSettingsCanvas">
    <div style="z-index: 10">
      <vue-draggable-resizable v-for="item in componentsWithCoords" :w="getWindowDimensions(item).w" :h="getWindowDimensions(item).h" :x="getWindowDimensions(item).x" :y="getWindowDimensions(item).y" :z="getWindowDimensions(item).z" v-on:dragging="onDrag" v-on:resizing="onResize" :resizable="false" :parent="false">
        <WbsEditorWindow :name="item.component.componentName" :wbsId="item.component.settings.wbsId">
          <div :is="determineSettingsComponent(item.component)" :component="item.component">
          </div>
        </WbsEditorWindow>
      </vue-draggable-resizable>
    </div>
  </div>
</template>

<script>
  import WbsImageSettings from "./WbsImage/WbsImageSettings";
  import WbsSectionSettings from "./WbsSection/WbsSectionSettings";
  import WbsButtonSettings from "./WbsButton/WbsButtonSettings";
  import WbsEditorWindow from "./editor/WbsEditorWindow";
  import VueDraggableResizable from 'vue-draggable-resizable'

  const settingComponents = {
    'WbsImage': WbsImageSettings,
    'WbsSection': WbsSectionSettings,
    'WbsButton': WbsButtonSettings
  }

  export default {
    name: 'WbsComponentSettingsCanvas',
    components: {WbsEditorWindow, WbsImageSettings, VueDraggableResizable},
    props: ['wbsTree'],
    data() {
      return {
        componentsWithCoords: []
      }
    },
    computed: {
      components() {
        return this.wbsTree.allComponents().filter(c => c.settings.wbsEditing);
      }
    },
    watch: {
      components(newVal) {
        let newComponentsWithCoords = [];

        newVal.forEach(component => {
          let el = document.querySelector("[data-wbs-id='" + component.settings.wbsId + "']");
          if (!el) { el = {} }
          const coords = el.getBoundingClientRect();

          newComponentsWithCoords.push({ component: component, coords: coords });
        }, this)

        this.componentsWithCoords = newComponentsWithCoords;
      }
    },
    methods: {
      onDrag() {
      },
      onResize() {
      },
      getWindowDimensions(component) {
        return {
          w: 370,
          h: 400,
          // x: component.coords.x - 400 - 20,
          x: 100,
          y:  window.scrollY + component.coords.y,
          z: 10
        }
      },
      determineSettingsComponent(component) {
        return settingComponents[component.componentName];
      }
    }
  }
</script>