<template>
  <div class="WbsContainer">
    <!--<WbsHiddenPlaceholder></WbsHiddenPlaceholder>-->
    <slot></slot>
  </div>
</template>

<script>
  import WbsHiddenPlaceholder from "./WbsHiddenPlaceholder";
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsContainer',
    mixins: [WbsSettingable],
    components: {WbsHiddenPlaceholder},
    data() {
      return {
        numOfChildren: 0
      }
    },
    mounted() {
      // console.log(this.wbsId);
      this.numOfChildren = this.$children.length;
    },
  }
</script>

<style lang="scss">

</style>