<template>
  <footer class="WbsFooter">
    <slot></slot>
  </footer>
</template>

<script>
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsFooter',
    mixins: [WbsSettingable]
  }
</script>

<style lang="scss">
  .WbsFooter {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>