<template>
  <div class="WbsGrid">
    <slot></slot>
  </div>
</template>

<script>
  import WbsSettingable from '../mixins/WbsSettingable';
  import WbsSelectable from "../mixins/WbsSelectable";

  export default {
    name: 'WbsGrid',
    mixins: [WbsSettingable]
  }
</script>

<style lang="scss">
  .WbsGrid {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &.wbs-selected {
      /*background: pink;*/
    }
  }
</style>