<template>
  <div class="WbsGridCol">
    <slot></slot>
  </div>
</template>

<script>
  import WbsSettingable from '../mixins/WbsSettingable';

  export default {
    name: 'WbsGridCol',
    mixins: [WbsSettingable]
  }
</script>

<style lang="scss">
  .WbsGridCol {
    flex: 1;
    padding-right: 1.5rem;
    outline: 1px dashed rgba(black, .25);

    &:last-of-type {
      padding-right: 0;
    }

  }
</style>