<template>
  <div class="WbsHeading" :is="determineTag(level)">
    <slot></slot>
  </div>
</template>

<script>
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsHeading',
    mixins: [WbsSettingable],
    props: ['level'],
    methods: {
      determineTag(level) {
        return level ? 'h' + this.level : 'h2'
      },
    },
    mounted() {
    }
  }
</script>

<style lang="scss">
  .WbsHeading {
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
</style>