<template>
  <div class="WbsHiddenPlaceholder">
    <v-popover offset="25" placement="bottom">
      <div class="WbsHiddenPlaceholder--target tooltip-target">Insert a block here</div>

      <template slot="popover">
        <WbsEditorPopover>
          <WbsEditorNewComponent v-on:insert-component="insertComponent"></WbsEditorNewComponent>
        </WbsEditorPopover>
      </template>
    </v-popover>
  </div>
</template>

<script>
  import { VTooltip, VPopover, VClosePopover } from 'v-tooltip';
  import WbsEditorPopover from "./editor/WbsEditorPopover";
  import WbsEditorNewComponent from "./editor/WbsEditorNewComponent";
  import WbsFactory from "../WbsFactory";

  export default {
    name: 'WbsHiddenPlaceholder',
    components: {WbsEditorNewComponent, WbsEditorPopover, VPopover},
    directives: {VTooltip, VClosePopover},
    props: ['wbsId'],
    methods: {
      insertComponent(componentName) {
        window.app.wbsTree.appendChildTo(this.wbsId, WbsFactory.build(componentName))
      }
    }
  }
</script>

<style lang="scss">
  .WbsHiddenPlaceholder {
    .trigger {
      width: 100%;
    }

    &--target {
      display: block;
      width: 100%;
      text-align: center;
      padding: .75rem;
      border-radius: 3px;
      color: gray;
      font-size: 12px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }
    }
  }
</style>