<template>
  <div class="WbsInsertline" :style="style">
    <div class="WbsInsertline--line">
      <v-popover offset="25" placement="right">
        <div class="WbsInsertline--line--bullet tooltip-target"></div>

        <template slot="popover">
          <WbsEditorPopover>
            <WbsEditorNewComponent v-on:insert-component="insertComponent"></WbsEditorNewComponent>
          </WbsEditorPopover>
        </template>
      </v-popover>
    </div>
  </div>
</template>

<script>
  import WbsEditorNewComponent from "./editor/WbsEditorNewComponent";
  import WbsEditorPopover from "./editor/WbsEditorPopover";
  import WbsFactory from "../WbsFactory";
  import ArrowSvg from '../assets/arrow-right.svg';

  import { VTooltip, VPopover, VClosePopover } from 'v-tooltip';

  export default {
    name: 'WbsInsertline',
    components: {WbsEditorPopover, WbsEditorNewComponent, VPopover},
    directives: {VTooltip, VClosePopover},
    props: ['component', 'wbsId'],
    data() {
      return {
        boundingRect: {},
      }
    },
    mounted() {
      // this.$nextTick(() => {
      //   const el = document.querySelector("[data-wbs-id='" + this.component.settings.wbsId + "']");
      //   if (!el) return;
      //
      //   window.addEventListener('resize', this.updateDimensions);
      //   document.addEventListener('DomSubtreeModified', this.updateDimensions())
      // }, this)
    },
    computed: {
      style() {
        // let attr = {};
        // attr['position'] = 'absolute';
        // attr['padding-top'] = '10px';
        // attr['padding-bottom'] = '10px';
        // attr['top'] = this.boundingRect.top + this.boundingRect.height - 10 + window.scrollY + 'px';
        // attr['left'] = this.boundingRect.left + window.scrollX + 'px';
        // attr['width'] = this.boundingRect.width + 'px';
        // return attr;
      }
    },
    methods: {
      updateDimensions() {
        const el = document.querySelector("[data-wbs-id='" + this.component.settings.wbsId + "']");
        this.boundingRect = el.getBoundingClientRect();
      },
      insertComponent(componentName) {
        window.app.wbsTree.insertAfter(this.wbsId, WbsFactory.build(componentName))
      }
    }
  }
</script>

<style lang="scss">
  .WbsInsertline {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    position: relative;
    z-index: 5;

    &:hover {
      .WbsInsertline--line {
        visibility: visible;
        opacity: 1;
      }
    }

    &--line {
      position: relative;
      height: 2px;
      background-color: cadetblue;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;

      &--bullet {
        position: absolute;
        top: -10px;
        left: 0;
        transform: translateY(-1px);
        width: 25px;
        height: 25px;
        /*border-radius: 50%;*/
        /*background: cadetblue;*/
        transition: 0.15s background linear;
        background: url('../assets/arrow-right.svg') no-repeat center center scroll;
        background-size: 100% 100%;

        &:hover {
          /*background: darken(cadetblue, 10%);*/
        }
      }
    }
  }
</style>