<template>
  <p class="WbsParagraph">
    <slot></slot>
  </p>
</template>

<script>
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsParagraph',
    mixins: [WbsSettingable]
  }
</script>