<template>
  <strong class="WbsStrong">
    <slot></slot>
  </strong>
</template>

<script>
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsStrong',
    mixins: [WbsSettingable]
  }
</script>