<template>
  <span class="WbsSpan">
    <slot></slot>
  </span>
</template>

<script>
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsSpan',
    mixins: [WbsSettingable],
  }
</script>