<template>
  <section class="WbsSection" :style="sectionStyle">
    <div class="WbsSection--edit" v-if="!wbsNotEditing">
      <a class="wbs-s-button" @click="edit">Change background</a>
    </div>

    <slot></slot>
  </section>
</template>

<script>
  import WbsSelectable from "../mixins/WbsSelectable";
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsSection',
    mixins: [WbsSelectable, WbsSettingable],
    props: ['color', 'image'],
    computed: {
      sectionStyle() {
        const imageStyles = {
          backgroundImage: this.image && "url(" + this.image.base64 + ")",
          backgroundPosition: 'center center',
          backgroundRepeat: 'no-repeat',
          backgroundSize: 'cover',
          backgroundAttachment: 'scroll'
        };

        const colorStyles = { backgroundColor: this.color };

        return this.color ? colorStyles : imageStyles;
      }
    },
    methods: {
      edit() {
        window.app.wbsTree.updateSettings(this.wbsId, { wbsEditing: true })
      }
    }
  }
</script>

<style lang="scss">
  .WbsSection {
    position: relative;
    padding: 2.5rem 1rem;

    &:hover {
      .WbsSection--edit {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
      }
    }

    &--edit {
      position: absolute;
      top: 20px;
      right: 0px;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s all ease;
      transform: translateX(50%);
      z-index: 5;

      .wbs-s-button {
        border: 1px solid dimgray;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0 0 5px rgba(black, .25);
      }
    }

    &.wbs-selectable {
      &:hover {
        outline: none;
        box-shadow: none;
      }
    }
  }
</style>