<template>
  <div class="WbsSettingsCanvas">
    <!--<WbsInsertline v-for="component in allComponents" :component="component"></WbsInsertline>-->
  </div>
</template>

<script>
  import WbsInsertline from "./WbsInsertline";
  import WbsContainer from "./WbsContainer";

  export default {
    name: 'WbsSettingsCanvas',
    components: {WbsInsertline},
    props: {
      wbsRoot: {
        required: true
      }
    },
    computed: {
      allComponents() {
        let components = [];

        const traverse = function(node) {
          if(node.componentName == 'WbsContainer') {
            if (node.children) components.push(...node.children)
          }

          if (node.children && node.children.length > 0) {
            node.children.forEach(function(child) {
              traverse(child);
            })
          }
        }

        traverse(this.wbsRoot);

        return components;
      }
    }
  }
</script>

<style lang="scss">
  .WbsSettingsCanvas {
    small {
      position: absolute;
      top: 500px;
      left: 500px;
      width: 50px;
      height: 50px;
      background: blue;
    }
  }
</style>