<template>
  <div class="WbsSectionInsertline" :style="style">
    <div class="WbsSectionInsertline--line">
      <div class="WbsSectionInsertline--line--bullet" @click="insertSection"></div>
    </div>
  </div>
</template>

<script>
  import WbsFactory from "../WbsFactory";

  export default {
    name: 'WbsSectionInsertLine',
    props: ['component'],
    data() {
      return {
        boundingRect: {},
      }
    },
    mounted() {
      this.$nextTick(() => {
        const el = document.querySelector("[data-wbs-id='" + this.component.settings.wbsId + "']");
        if (!el) return;

        window.addEventListener('resize', this.updateDimensions);
        document.addEventListener('DomSubtreeModified', this.updateDimensions())
      }, this)
    },
    computed: {
      style() {
        let attr = {};
        attr['position'] = 'absolute';
        attr['padding-top'] = '10px';
        attr['padding-bottom'] = '10px';
        attr['top'] = this.boundingRect.top + this.boundingRect.height - 10 + window.scrollY + 'px';
        attr['left'] = '0';
        attr['width'] = '100%';
        return attr;
      }
    },
    methods: {
      updateDimensions() {
        const el = document.querySelector("[data-wbs-id='" + this.component.settings.wbsId + "']");
        this.boundingRect = el.getBoundingClientRect();
      },
      insertSection() {
        window.app.wbsTree.insertAfter(this.component.settings.wbsId, WbsFactory.section())
      }
    }
  }
</script>

<style lang="scss">
  .WbsSectionInsertline {
    &--line {
      position: relative;
      width: 100%;
      height: 2px;
      background: cadetblue;
      /*visibility: hidden;*/
      /*opacity: 0;*/
      transition: visibility 0s, opacity 0.3s linear;

      &--bullet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: lighten(cadetblue, 15%);
        box-shadow: 0 0 7px rgba(black, .35);

        &:before {
          content: '+';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &:hover {
      .WbsInsertline--line {
        visibility: visible;
        opacity: 1;
      }
    }
  }
</style>