<template>
  <div class="WbsText">
    <slot v-if="wbsNotEditing"></slot>

    <WbsEditorPopmenu :wbs-id="wbsId" v-if="!wbsNotEditing"></WbsEditorPopmenu>

    <div v-if="!wbsNotEditing">
      <div style="display: none">
        <slot></slot>
      </div>

      <div>
        <froala :config="froalaConfig" v-model="content"></froala>
      </div>
    </div>
  </div>
</template>

<script>
  // import 'froala-editor/js/froala_editor.pkgd.min';
  // import 'froala-editor/css/froala_editor.pkgd.min.css';
  // import 'font-awesome/css/font-awesome.css';
  // import 'froala-editor/css/froala_style.min.css';
  // import VueFroala from 'vue-froala-wysiwyg';
  // import Vue from 'vue';

  import WbsSelectable from '../mixins/WbsSelectable';
  import WbsSettingable from "../mixins/WbsSettingable";
  import WbsEditorPopmenu from "./editor/WbsEditorPopmenu";
  import html2json from 'html2json';

  import WbsHtmlParser from '../WbsHtmlParser';

  export default {
    name: 'WbsText',
    components: {WbsEditorPopmenu},
    mixins: [WbsSelectable, WbsSettingable],
    data() {
      return {
        content: '',
        froalaConfig: {
          charCounterCount: false,
          toolbarInline: true,
          toolbarButtons: ['bold', 'italic', 'underline', '|', 'fontFamily', 'fontSize', 'color', '|', 'align', 'formatOL', 'formatUL', 'insertLink', '|', 'undo', 'redo'],
          pluginsEnabled: ['fontSize', 'align', 'colors'],
          spellcheck: false,
          events : {
            'froalaEditor.focus': function() {
              this.wbsSelected = true;
            }
          }
        }
      }
    },
    mounted() {
      const wbsTextComponents = ['WbsHeading', 'WbsParagraph'];

      if (this.$slots.default) {
        const newContent = this.$slots.default
          .filter(slot => wbsTextComponents.includes(slot.componentOptions.tag))
          .map(slot => slot.elm.outerHTML).join('');
        this.content = newContent;
      }
    },
    watch: {
      content(newVal) {
        const parser = new WbsHtmlParser(newVal);
        window.app.wbsTree.replaceChildren(this.wbsId, parser.buildTree().children)
      }
    }
  }
</script>

<style lang="scss">
  .WbsText {
    padding: .75rem;

    &.wbs-selectable {
      /*outline: 1px dashed rgba(black, .2);*/
      /*border: 1px solid red !important;*/
    }
  }
</style>