<template>
  <div class="WbsVideo">
    vydeo
  </div>
</template>

<script>
  import WbsSelectable from "../mixins/WbsSelectable";
  import WbsSettingable from "../mixins/WbsSettingable";

  export default {
    name: 'WbsVideo',
    mixins: [WbsSelectable, WbsSettingable]
  }
</script>