<script>
  import Vue from 'vue';

  import WbsPage from './pages/WbsPage.vue';
  import WbsEditablePage from './pages/WbsEditablePage.vue';
  import WbsKAJHeader from './pages/WbsKAJHeader.vue';

  import WbsTree from './WbsTree';

  import EventTheme from './themes/EventTheme.vue';

  const wrappedApp = new Vue({ render: (h) => h(EventTheme) }).$mount();
  const tree = WbsTree.buildFromVue(wrappedApp.$root);
  wrappedApp.$destroy();
  console.log(tree.to_json());

export default {
  name: 'app',
  components: {
  },
  data() {
    return {
      wbsTree: tree,
    }
  },
  render(h) {
    const header = h(WbsKAJHeader, { props: { wbsTree: this.wbsTree, wbsRoot: this.wbsRoot} });
    const page = h(WbsEditablePage, { props: { wbsTree: this.wbsTree, wbsRoot: this.wbsRoot} });
    return h('div', { class: 'app-root' }, [header, page]);
  },
  computed: {
    wbsRoot() {
      return this.wbsTree.root
    }
  },
  mounted() {
    window.app = this;
  }
}
</script>

<style>
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .app-root {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    /*text-align: center;*/
    /*color: #2c3e50;*/
  }
</style>
