/* line 28, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/_grid.scss */
.wbs-s-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* line 34, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/_grid.scss */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
/* line 38, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/_grid.scss */
.no-gutters > .wbs-s-col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* line 8, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-1, .wbs-s-col-2, .wbs-s-col-3, .wbs-s-col-4, .wbs-s-col-5, .wbs-s-col-6, .wbs-s-col-7, .wbs-s-col-8, .wbs-s-col-9, .wbs-s-col-10, .wbs-s-col-11, .wbs-s-col-12, .wbs-s-col,
.wbs-s-col-auto, .wbs-s-col-sm-1, .wbs-s-col-sm-2, .wbs-s-col-sm-3, .wbs-s-col-sm-4, .wbs-s-col-sm-5, .wbs-s-col-sm-6, .wbs-s-col-sm-7, .wbs-s-col-sm-8, .wbs-s-col-sm-9, .wbs-s-col-sm-10, .wbs-s-col-sm-11, .wbs-s-col-sm-12, .wbs-s-col-sm,
.wbs-s-col-sm-auto, .wbs-s-col-md-1, .wbs-s-col-md-2, .wbs-s-col-md-3, .wbs-s-col-md-4, .wbs-s-col-md-5, .wbs-s-col-md-6, .wbs-s-col-md-7, .wbs-s-col-md-8, .wbs-s-col-md-9, .wbs-s-col-md-10, .wbs-s-col-md-11, .wbs-s-col-md-12, .wbs-s-col-md,
.wbs-s-col-md-auto, .wbs-s-col-lg-1, .wbs-s-col-lg-2, .wbs-s-col-lg-3, .wbs-s-col-lg-4, .wbs-s-col-lg-5, .wbs-s-col-lg-6, .wbs-s-col-lg-7, .wbs-s-col-lg-8, .wbs-s-col-lg-9, .wbs-s-col-lg-10, .wbs-s-col-lg-11, .wbs-s-col-lg-12, .wbs-s-col-lg,
.wbs-s-col-lg-auto, .wbs-s-col-xl-1, .wbs-s-col-xl-2, .wbs-s-col-xl-3, .wbs-s-col-xl-4, .wbs-s-col-xl-5, .wbs-s-col-xl-6, .wbs-s-col-xl-7, .wbs-s-col-xl-8, .wbs-s-col-xl-9, .wbs-s-col-xl-10, .wbs-s-col-xl-11, .wbs-s-col-xl-12, .wbs-s-col-xl,
.wbs-s-col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 32, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* line 37, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

/* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* line 49, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

/* line 51, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-0 {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  order: 7;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  order: 8;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  order: 9;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  order: 11;
}

/* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-order-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  order: 12;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-1 {
  margin-left: 8.3333333333%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-2 {
  margin-left: 16.6666666667%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-3 {
  margin-left: 25%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-4 {
  margin-left: 33.3333333333%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-5 {
  margin-left: 41.6666666667%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-6 {
  margin-left: 50%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-7 {
  margin-left: 58.3333333333%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-8 {
  margin-left: 66.6666666667%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-9 {
  margin-left: 75%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-10 {
  margin-left: 83.3333333333%;
}

/* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.wbs-s-offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  /* line 32, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 51, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-0 {
    margin-left: 0;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-3 {
    margin-left: 25%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-6 {
    margin-left: 50%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-9 {
    margin-left: 75%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  /* line 32, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 51, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-0 {
    margin-left: 0;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-1 {
    margin-left: 8.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-2 {
    margin-left: 16.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-3 {
    margin-left: 25%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-4 {
    margin-left: 33.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-5 {
    margin-left: 41.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-6 {
    margin-left: 50%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-7 {
    margin-left: 58.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-8 {
    margin-left: 66.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-9 {
    margin-left: 75%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-10 {
    margin-left: 83.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  /* line 32, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 51, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-0 {
    margin-left: 0;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-3 {
    margin-left: 25%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-6 {
    margin-left: 50%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-9 {
    margin-left: 75%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  /* line 32, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  /* line 37, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  /* line 44, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* line 49, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  /* line 51, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }

  /* line 54, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-0 {
    margin-left: 0;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-3 {
    margin-left: 25%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-6 {
    margin-left: 50%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-9 {
    margin-left: 75%;
  }

  /* line 60, /Users/peter/.rvm/gems/ruby-2.3.1/gems/bootstrap-4.0.0/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .wbs-s-offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .wbs-s-offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}