@import "reset";
@import "utils";
@import "grid";

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

.wbs-selectable {
  outline-offset: 0px;

  &:hover {
    outline: 1px dashed rgba(black, .25);
  }

  &.wbs-selected {
    //outline: 1px solid rgba(black, .5);
    outline: 1px solid dodgerblue;


    & > .WbsEditorPopmenu {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -100%);
    }
  }
}

.wbs-settingable {
  position: relative;

  &:hover {
    & > .WbsEditorPopmenu {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -100%);
    }
  }
}

.wbs-s-container {
  padding-right: .5rem;
  padding-left: .5rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}

.wbs-s-flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-between {
    justify-content: space-between;
  }
}

.wbs-s-button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .5rem 1rem;
  border-radius: 999em;
  font-size: 14px;
  text-align: center;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  //color: black;
  background: dimgray;
  color: whitesmoke;
  
  &:hover {
    cursor: pointer;
  }
}

.wbs-s-button-group {
  display: flex;

  .wbs-s-button {
    flex: 1 1 0;
    border-radius: 0;
    border-right: 1px solid lighten(dimgray, 20%);

    &:first-of-type {
      border-top-left-radius: 999em;
      border-bottom-left-radius: 999em;
    }

    &:last-of-type {
      border-top-right-radius: 999em;
      border-bottom-right-radius: 999em;
      border-width: 1px;
      border-right: none;
    }
  }
}

.tabs-component {
  .tabs-component-tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .tabs-component-tab {
      text-align: center;
      flex: 1 1 0;
      border-bottom: 2px solid lightgray;

      &.is-active {
        border-bottom: 2px solid lighten(cadetblue, 0%);

        .tabs-component-tab-a {
          font-weight: 600;
        }
      }
    }

    .tabs-component-tab-a {
      display: block;
      padding-top: .5rem;
      padding-bottom: .5rem;
      text-decoration: none;
      font-size: 14px;
      color: dimgray;
    }
  }

  .tabs-component-panel {
    padding: .625rem 0;
  }
}

.WbsEditorComponent {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  //font-family: 'Poppins', sans-serif;

  h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
}

.tooltip {
  z-index: 5;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none!important;
}